/*custom css */

table th {
	vertical-align:middle !important;
}
.modal {
	z-index: 10500 !important;
	opacity: 1 !important;
}

.modal-backdrop {
  z-index: -1 !important;
}
.pointer {
	cursor: pointer !important;
}

table td a {
	cursor: pointer !important;
}

.modal-header {
    padding: 8px 8px 8px 8px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    background-color: #fffff !important;
    text-align: center !important;
}

.modal .modal-title {
	font-weight: bold !important;
}

.modal-footer {
    padding: 8px 8px 8px 8px !important;
}

.list-icon li i {
    height: 0px !important;
    line-height: 0px !important;
}

.ar-min-ht {
	min-height: 448px !important;
}

.ar-min-ht-chairs {
	min-height: 428px !important;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
.kk-lh2:before {
	line-height:2 !important;
}

.va-t {
	vertical-align:top !important;
}

.odometer .odometer-inside:after {
	content: "+" !important;
}

.minea:hover {
    text-decoration: underline !important;
  }

.ar-min-ht {
	min-height: 115px !important;
}

.ar-con .icon-box i {
    font-size: 15px !important;
}
.ra-height {
	height: 338px !important;
	
}	
.ar-nowrap{
	white-space:nowrap !important;
}

.ar-iitd-menu .menuzord-menu > li > .megamenu .megamenu-row ul li a {
    display: inline !important;
}

.kk-index {
    z-index: 10000 !important;
	background-color: #000000d9 !important;
}

.kk-model {
    background-color: #a50b02 !important;
}

.kk-pad1 {
    padding-top: 0px !important;
}

.kk-title {
    color: white !important;
    text-align: center;
}

.kk-align-c {
    text-align: center !important;
}

.kk-model .close {
    color: white !important;
    opacity: 1 !important;
}
.menuzord-menu > li > a {
    font-size: 16px !important;
}

.ar-contact a {
    color: #c21717 !important;
    text-decoration: none;
}

.ar-contact a:hover {
    color: #000000 !important;
    text-decoration: none;
}

/* .ar-dropdown { */
    /* top: 19px !important; */
/* } */

.icon-box .icon.icon-circled {
    border: 2px solid white !important;
}
.icon-box:hover {
    background: #c21717 !important;
    color: white !important;
}
.icon-box1:hover {
    background: #ffffff !important;
    border: 1px solid #c21717 !important;
}
.icon-box:hover h4 a {
    color: #fff !important;
}
.icon-box1:hover h4 a {
    color: #000 !important;
}
.border-1px {
    border: 1px solid #a2a2a2 !important;
}

ul.list li:before {

    top: 6px !important;
}
#pricing ul.list li:before {

    top: 13px !important;
}
.ar-font-icon ul.list li:before {

    top: 2px !important;
}


.owl-item p {
	text-align: justify !important;
}
.text-justify {
	text-align: justify !important;
}
.font-weight-bold {
	font-weight:bold !important;
}
.popup .fade {
	background-color: #000000d9 !important;
}

.owl-carousel .owl-dots {
    display: none !important;
}

.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left2 {
    left: -100% !important;
}
.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left3 {
    left: -105% !important;
}
#research .owl-item .entry-title {
    font-weight: bold !important;
}
.ar-td-cent td:nth-child(2) {
  text-align:center !important;
}
.ar-td-cent td:nth-child(3) {
  text-align:center !important;
}
.ar-td-cent td:nth-child(5) {
  text-align:center !important;
}
.ar-td-cent th:nth-child(2) {
  text-align:center !important;
}
.ar-td-cent th:nth-child(3) {
  text-align:center !important;
}
.ar-td-cent th:nth-child(5) {
  text-align:center !important;
}

.ar-mou .panel-group.accordion-icon-left .panel-heading .panel-title a:before {
    top: 13px !important;
}
.ar-antis h5{
    font-size: 16px !important;
}

#administration .panel-group.accordion-icon-left .panel-heading .panel-title a.collapsed::before {
    
    top: 13px !important;
}

#administration .panel-group.accordion-icon-left .panel-heading .panel-title a:before {
   
    top: 13px !important;
}
.ipr ul.list li:before {
    top: 3px !important;
}

.ar-press .icon-box.left a {
    margin-right: 15px !important;
}

.ar-press .icon-box i {
    font-size: 25px !important;
}

.ar-press p {
	margin-bottom: 0px !important;
}


.ar-press .icon-box:hover p a{
    color: white !important;
}

.ar-press .icon-box:hover h5{
    color: white !important;
}

.ar-icon-about .icon-box{
	
	margin-bottom: 0px !important;

}
#csoon {
    background-color: #380606 !important;
    position: relative;
}
#canvas {
    margin: 0 auto;
    display: block;
    width: 100% !important;
}
#csc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
}
#csc-overlay h1 {
    margin: 0 !important;
}
.csc-ghost-text {
    z-index: 9999;
    text-shadow: 5px 0px 10px black;
}
.error-box1 {
    border: 2px dashed white;
    background: rgba(194, 23, 23, 0.8);
    border-radius: 15px;
    margin-top: 10px;
	height: 160px;
}
.error-box1 a {
    color: white;
    text-shadow: none !important;
}

.error-box1 a:hover {
	text-decoration: underline;
}
.ar-press a {
    color: #000000 !important;
}

.menuzord-menu > li > a {
    padding: 8px 20px !important;
	
}
.ar-compliance p{
	color: #000 !important;
}
.ar-bt-margin{
	margin-top: -5px !important;
}

.ar-fa-color .icon-theme-colored.icon-dark a {
    background-color: #212331;
    color: #ffffff;
}
.ar-fa-color .icon-theme-colored.icon-dark a:hover {
    background-color: #0c0d13;
    color: #ffffff;
}
.ar-awards p{
	margin-bottom: 4px !important;
}

.ar-awards hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 0 !important;
    border-top: 1px solid #000 !important;
}
.ar-link a {
    color: #C21717 !important;
    text-decoration: none !important;
}
.ar-link a:hover{
    color: #000000 !important;
    text-decoration: none !important;
}
.ar-link a:focus {
    color: #000000 !important;
    text-decoration: none !important;
}
.ar-phone{
	display:none;
}

@media print {
  .footer,
    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
	.header,
    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
	@page { margin: 0; }
	body { margin: 1.6cm; }
	a[href]:after {
    content: none !important;
	}
}
.arbn-news {
	width:100%; 
	margin:0 auto; 
	box-sizing:border-box;
}
.ar-contact p a{
	color: #c21717 !important;
    text-decoration: none;
}
.nav-tabs > li > a {
    padding: 12px 13px !important;
}

.ar-fontfamily {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

hr {
    border-top: 1px solid #b4b4b4 !important;
}

.dataTables_filter .input-sm{
	font-size: 16px !important;
}

.ar-seminar p{
	text-align:center !important;
}

.bg-theme-iitd .owl-carousel .owl-nav button {
    top: 36% !important;
}
.arbn-news .bn-navi{
	opacity:1 !important;
}
.ar-caption-font {
	/*font-family: 'Monoton', cursive !important;*/
   font-family: 'georgiab' !important;
    font-weight: normal !important;
	text-shadow: rgb(0,0,0) 6px -1px 5px !important;
}
.ar-feedback {
	background-color: #fff4f4 !important;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
    box-shadow: 0px 0px 5px 0px rgba(140,140,140,1);
}
.nav-tabs > li > a {
	font-family: 'Titillium Web', sans-serif, Source Sans Pro, Helvetica Neue, Helvetica, Arial,sans-serif !important;
}
.ar-search1{
	float: left !important;
    position: absolute;
    top: 60px;
	z-index: 9999 !important;
	display:none;
	border: 2px solid #fff !important;
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important;
    padding-left: 7px !important;
    padding-top: 3px !important;
    margin-left: 12px;
}
.ar-search-mobile{
	animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: white;
	text-shadow: rgba(0,0,0,.8) 0 1px 8px;
  }
@keyframes blinker {  
from { opacity: 1; }
to { opacity: 0; }
}
.ar-menu-bt {
	border-top: 1px solid #C21717;
}
.ar-ul-bg{
	background-image: url(../images/iitd-line2.jpg);
	background-size: 100%;
}

/* This is Feedback button */
.feedback-button {
  height: auto;
  border: solid 1px #fff;
  background: #C21717;
  width: auto;
  line-height: 32px;
  -webkit-transform: rotate(-90deg);
  font-weight: normal;
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -45px;
  top: 45%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  z-index: 999;
  padding-left:10px;
  padding-right: 10px;
}
#ar-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 99999;
  cursor: pointer;
}

#ar-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.ar-imp-news:hover{
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tp-caption a {
    color: #ffffff !important;
}
#admission-zone ul.list li:before {
    top: 13px !important;
}
/* Event Style */
* { margin:0; padding:0; }

#newsticker-demo { 
width:100%;
padding:5px 5px 0; 
font-family: 'Titillium Web', sans-serif, Source Sans Pro, Helvetica Neue, Helvetica, Arial,sans-serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none;font-size:16px;color: #C21717; font-weight:bold}
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:100%; height:350px !important;}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px;height:70px !important; }
.newsticker-jcarousellite .thumbnail { float:left; width:85px; }
.newsticker-jcarousellite .info { float:none; width:100%; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }

.info .ar-event {
	font-size:14px !important;
	color: #6b6b6b !important;
	margin-bottom: 2px !important;
}
/* Event Style  End*/

/* Announcement css */
@charset "utf-8";
/* CSS Document */

.breakingNews{width:100%; height:40px; background: #e6e6e6; background: #e6e6e6; border-bottom-right-radius: 25px; border-top-right-radius: 25px; position:relative; border:solid 2px #2096cd; overflow:hidden;}
.breakingNews>.bn-title{width:auto; height:40px; display:inline-block; background:#2096cd; position:relative;}
.breakingNews>.bn-title>h2{display:inline-block; margin:0; padding:0 15px; line-height:40px; font-size:20px !important; color:#FFF; height:40px; box-sizing:border-box;}
.breakingNews>.bn-title>span{width: 0;position:absolute;right:-10px;top:10px;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #2096cd;}

.breakingNews>ul{padding:0; margin:0; list-style:none; position:absolute; left:210px; top:0; right:40px; height:40px; font-size:16px;}
.breakingNews>ul>li{position:absolute; height:40px; width:100%; line-height:40px; display:none;}
.breakingNews>ul>li>a{text-decoration:none; color:#333; overflow:hidden; display:block; white-space: nowrap;text-overflow: ellipsis; font-weight:normal;}
.breakingNews>ul>li>a>span{color:#2096cd;}
.breakingNews>ul>li>a:hover{color:#2096cd;}

.breakingNews>.bn-navi{width:40px; height:40px; position:absolute; right:0; top:0; opacity:0;}
.breakingNews>.bn-navi>span{width:20px; height:40px; position:absolute; top:0; cursor:pointer; opacity:0.3; background-image:url(../images/bn-arrows.png); background-repeat:no-repeat;}
.breakingNews>.bn-navi>span:hover{opacity:1;}
.breakingNews>.bn-navi>span:first-child{background-position:left center; left:0;}
.breakingNews>.bn-navi>span:last-child{background-position:right center; right:0;}
.breakingNews:hover .bn-navi{opacity:1;}

.bn-large{height:50px;}
.bn-large>.bn-title{height:50px;}
.bn-large>.bn-title>h2{line-height:50px; font-size:26px;}
.bn-large>.bn-title>span{top:15px;}
.bn-large>ul{height:50px; left:250px; font-size:20px;}
.bn-large>ul>li{height:50px; line-height:50px;}
.bn-large>.bn-navi{height:50px; }
.bn-large>.bn-navi>span{height:50px;}

.bn-small{height:30px;}
.bn-small>.bn-title{height:30px;}
.bn-small>.bn-title>h2{line-height:30px; font-size:18px;}
.bn-small>.bn-title>span{top:5px;}
.bn-small>ul{height:30px; left:200px; font-size:14px;}
.bn-small>ul>li{height:30px; line-height:30px;}
.bn-small>.bn-navi{height:30px; }
.bn-small>.bn-navi>span{height:30px;}

/*color styles -----------------------------*/
.bn-red{border-color:#c21717;}
.bn-red>.bn-title{background:#c21717;}
.bn-red>.bn-title>span{border-left-color:#c21717;}
.bn-red>ul>li>a:hover,.bn-red>ul>li>a>span{color:#c21717;}

.bn-green{border-color:#27ae60;}
.bn-green>.bn-title{background:#27ae60;}
.bn-green>.bn-title>span{border-left-color:#27ae60;}
.bn-green>ul>li>a:hover,.bn-green>ul>li>a>span{color:#27ae60;}

.bn-purple{border-color:#795aac;}
.bn-purple>.bn-title{background:#795aac;}
.bn-purple>.bn-title>span{border-left-color:#795aac;}
.bn-purple>ul>li>a:hover,.bn-purple>ul>li>a>span{color:#795aac;}

.bn-turquoise{border-color:#1fb5ad;}
.bn-turquoise>.bn-title{background:#1fb5ad;}
.bn-turquoise>.bn-title>span{border-left-color:#1fb5ad;}
.bn-turquoise>ul>li>a:hover,.bn-turquoise>ul>li>a>span{color:#1fb5ad;}

.bn-orange{border-color:#f46e27;}
.bn-orange>.bn-title{background:#f46e27;}
.bn-orange>.bn-title>span{border-left-color:#f46e27;}
.bn-orange>ul>li>a:hover,.bn-orange>ul>li>a>span{color:#f46e27;}

.bn-black{border-color:#333;}
.bn-black>.bn-title{background:#333;}
.bn-black>.bn-title>span{border-left-color:#333;}
.bn-black>ul>li>a:hover,.bn-black>ul>li>a>span{color:#333;}

.bn-yellow{border-color:#d3ac23;}
.bn-yellow>.bn-title{background:#d3ac23;}
.bn-yellow>.bn-title>span{border-left-color:#d3ac23;}
.bn-yellow>ul>li>a:hover,.bn-yellow>ul>li>a>span{color:#d3ac23;}

.bn-light{border-color:#DDD;}
.bn-light>.bn-title{background:#DDD;}
.bn-light>.bn-title>h2{color:#333;}
.bn-light>.bn-title>span{border-left-color:#DDD;}
.bn-light>ul>li>a:hover,.bn-light>ul>li>a>span{color:#DDD;}

.bn-pink{border-color:#d65aac;}
.bn-pink>.bn-title{background:#d65aac;}
.bn-pink>.bn-title>span{border-left-color:#d65aac;}
.bn-pink>ul>li>a:hover,.bn-pink>ul>li>a>span{color:#d65aac;}

.bn-darkred{border-color:#d01e1e;}
.bn-darkred>.bn-title{background:#d01e1e;}
.bn-darkred>.bn-title>span{border-left-color:#d01e1e;}
.bn-darkred>ul>li>a:hover,.bn-darkred>ul>li>a>span{color:#d01e1e;}

.bn-bordernone{border:none;}
.bn-italic>ul>li>a{font-style:italic;}
.bn-bold>ul>li>a{font-weight:bold;}

.breakingNews>.bn-navi,
.breakingNews>ul>li>a,
.breakingNews>.bn-navi>span{transition: .25s linear;-moz-transition: .25s linear;-webkit-transition: .25s linear;}
}

.ar-tp-caption{
    font-size: 40px !important;
}
.text-colored-stroke     {
    color: #aa0000 !important;
    text-shadow: 1px 1px #ffffffba;
}
.ar-event ul.list li:before{
        top: 3px !important;
    }
.ar-social:hover{
    color: #C21717 !important;
}
/* Announcement css  End*/

/* For Jobs Page*/
.ar-jobs .btn {
    font-size: 13px;
    padding: 8px 22px;
    line-height: 1.38;
    width: 70%;
}
.pricing-table {
    border: 1px solid #f9f9f9 !important;
}

.ar-bg-black{
    background-color: #f9f9f9 !important;
}
.btn-yellow{
	background: #ffd700;
    color: #5a5a5a;
    border-color: #ffd700;
}
.btn-yellow:hover{
	background: #ffe86e;
    color: #4e4e4e;
    border-color: #ffe86e;
}
.btn-grey{
	background: #6a6a6a;
    color: #ffd700;
    border-color: #6a6a6a;
}
.btn-grey:hover{
	background: #949494;
    color: #ffe86e;
    border-color: #949494;
}
.bt-ar-epay{
	width:200px !important;
}
.ar-epay-banner{
	width: 60% !important;
}
.epay {
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(../images/epay/ePAY-IITD-logo.png);
    background-size: 100% 100%;
    box-shadow: none;
    width: 150px;
    height: 78px;
    transition: 0.2s ease-in-out all;
}
.epay:hover {
    background-color: transparent;
    background-size: 100% 100%;
    box-shadow: none;
    width: 170px;
    height: 89px;
}
.ar-orientation ul.list li:before {
    top: 3px !important;
}
#ar-abst{
	width:35% !important;
}
#ar-date{
	width:13% !important
}
#ar-venue{
	width:12% !important
}
body {
    color: #6b6b6b !important
}
.text-gray2 {
    color: #9d9d9d !important;
}
table thead {
    background-color: #6d6d6d !important;
}
#chairs_wrapper a {
    color: #626262 !important;
}

table th {
    vertical-align: middle !important;
    color: white !important;
    font-weight: normal !important;
}
/* .ar-container-top a{ */
    /* color: #626262 !important; */
/* } */
.menuzord-menu > li > a {
    font-size: 16px !important;
}
.ar-covid-banner:hover {
    -webkit-box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px){
	.ar-bg-black{
        height: 550px !important;
    }
}

@media screen and (min-width: 768px){
    .ar-bg-black{
        height: 550px !important;
    }
}
@media screen and (max-width: 500px){
	.ar-epay-banner{
	width: 100% !important;
}
}